#título{
    text-align: center;
    text-decoration: overline;
    color:burlywood;
}

body{
    background-color: darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 400;
}
